/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* 헤더 스타일 */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

/* 메인 내용 스타일 */
main {
  margin: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/* 푸터 스타일 */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.falling-image {
  position: relative;
}

.falling {
  animation: falling 5s linear forwards;
  top: -100px; /* 이미지가 처음에 숨겨져 있는 위치로 설정합니다. */
}

@keyframes falling {
  to {
    top: calc(100vh - 100px);
  }
}

/* 헤더 로고 이미지 */
header img {
  height: 50px;
}

/* 인풋 필드 */
input[type="text"] {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* 버튼 */
button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 버튼 호버 효과 */
button:hover {
  background-color: #666;
}
